<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>REST API</title>
</head>
<body>
<h1>List of Books and Authors avaiable in the database:</h1>
<table id="t01" style="width:50%">
    <tr>
        <th> Title</th>
        <th> Author</th>
        <th> Year of Publish</th>
    </tr>
    {% for items in data %}
    <tr>
        <td> {{ items.title }} </td>
        <td> {{ items.author }} </td>
        <td> {{ items.published }} </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>